{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title>PassWord Reset Form</title>
{% endblock %}
{% block content %}
   <h3>Enter you email to get password reset link.</h3>
   <hr>
   <form class="" action="" method="post">
     {% if form.email_errors %}
        {{ form.email_errors }}
     {% else %}
        {{ form | crispy }}
     {% endif %}
     <input type="submit" name="Reset Password" value="Reset Password" class="btn btn-outline-info" style="margin-top: 10px;">
   </form>
{% endblock %}
