{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title>Password Reset Confirm!</title>
{% endblock %}
{% block content %}
   {% if validlink %}
      <p><strong>Please enter you new password and confirm.</strong></p>
      <form class="" action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" name="Change Password" value="Change Password" class="btn btn-outline-info" style="margin-top: 10px;">
      </form>
   {% else %}
     <h2>Password reset failed.</h2>
     <p>Either link is expired or already been used. Please request freshly for resetting you password.</p>
   {% endif %}
{% endblock %}
