body {
  background-color: #ededed;
  margin-top: 60px;
}

.nostyle  a {
  text-decoration: none;
  color: blue;
  margin-left: -40px;
}

.nostyle  {
  list-style-type: none;
}
.container {
  background-color: white;
  border-radius: 5px;
}

.author {
  text-decoration: none;
  color: black;
}

.logio {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin-left: -40px;
}
.logio {
  list-style-type: none;
}
.logio a:hover{
  background-color: white;
  color: black;
  border-radius: 5px
}

#navbarcollapse a:hover {
  background-color: white;
  color: black;
  border-radius: 5px
}

.col-2 {
  background-color: #ccbbf2;
  margin-left: 20px;
  height: 100%;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #1a394f;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  height: 10px;
}
