body {
  background-color: #ededed;
  margin-top: 60px;
}

.nostyle  a {
  text-decoration: none;
  color: blue;
}

.container {
  background-color: white;
  border-radius: 5px;
}

.author {
  text-decoration: none;
  color: black;
}

.logio {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 5px;
}

.logio a:hover{
  background-color: white;
  color: black;
  border-radius: 5px
}

#navbarcollapse a:hover {
  background-color: white;
  color: black;
  border-radius: 5px
}

.col-2 {
  background-color: #ccbbf2;
}
