{% extends "catalog/base.html" %}
{% block title %}
    <title>Detail Page</title>
{% endblock %}
{% block content %}
   <h1>Title: {{ book.title }}</h1>
   <hr>
   <p><strong>Author: </strong>{{ book.author }}</p>
   <p><strong>Summary: </strong>{{ book.summary }}</p>
   <p><strong>ISBN: </strong>{{ book.isbn }}</p>
   <p><strong>Genre: </strong>{{ book.display_genre }}</p>
   <p><strong>Language: </strong>{{ book.language }}</p>
   {% if user.is_staff %}
      <a href="{% url 'catalog:bookupdate' book.id %}" class="btn btn-outline-info">Update</a>
      <a href="{% url 'catalog:bookdelete' book.id %}" class="btn btn-outline-danger">Delete</a>
   {% else %}
      {% if availablebooks %}
      <button type="button" name="button" class="btn btn-success">{{ availablebooks }}</button>
      <button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#Newmodal">
        Request a Book</button>
      <div class="modal fade" role="dialog" id="Newmodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Book Request</h4>
              <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form class="" action="index.html" method="post">
                {% csrf_token %}
                <label for="#bkname">title: </label>
                <input type="text" name="bkname" id="bkname" class="form-control" value="{{ requestbook.book.title }}">
                <label for="#bkauthor">Author: </label>
                <input type="text" name="bkauthor" id="bkauthor" class="form-control" value="{{ requestbook.book.author }}">
                <label for="#bkid">Unique Id:</label>
                <input type="text" name="bkid" id="bkid" class="form-control" value="{{ requestbook.id }}">
                <label for="#borro">Borrower: </label>
                <input type="text" name="borrowe" id='borro'class="form-control"value="{{ request.user.username }}">
                <div class="modal-footer">
                  <button type="button" name="button" class="btn btn-success">
                    <a href="{% url 'catalog:requestbook' requestbook.id %}" style="text-decoration:none;color:white;">Submit</a>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      {% else %}
        <div class="jumbotron" style="height: 200px;">
         <h4>No copies are available at the moment.</h4>
         <p>Wanna register for the Queue to get the book?</p>
         <button type="button" name="button" data-toggle="modal" data-target="#Mymodal" class="btn btn-success">Advance Regn</button>
         <div class="modal fade" id="Mymodal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4>Advance Book Register Form</h4>
                <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form class="" action="" method="post">
                  {% csrf_token %}
                  <label for="Bookname">Book:</label>
                  <input type="text" value="{{ book.title }}" class="form-control" id="Bookname">
                  <label for="Bookauthor">Author:</label>
                  <input type="text" value="{{ book.author }}" class="form-control" id="Bookauthor">
                  <label for="Bookisbn">ISBN:</label>
                  <input type="text" value="{{ book.isbn }}" class="form-control" id="Bookisbn">
                  <label for="name">Borrower: </label>
                  <input type="text" value="{{ user.username }}" class="form-control" id="name">
                  <div class="modal-footer">
                    <button type="submit" name="button" class="btn btn-success">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
         </div>
        </div>
      {% endif %}
   {% endif %}
   <hr>
   <hr>
   <div class="">
     <h2>Copies: </h2>
     {% for copy in instances %}
       <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm'%}text-danger
       {% else %}text-warning{% endif %}">
         {{ copy.get_status_display }}
       </p>
       {% if copy.status != 'a '%}
           <p><strong>Due Date: </strong> {{ copy.due_back }}</p>
       {% endif %}
       <p><strong>Imprint: </strong>{{ copy.imprint }}</p>
       <p class="text-muted"><strong>Id: </strong>{{ copy.id }}</p>
       <hr>
     {% endfor %}
   </div>
{% endblock %}
