{% extends "catalog/base.html" %}
{% block style %}
<style>
  .nostyle  a {
    text-decoration: none;
    color: blue;
  }
  body {
    margin-top: 60px;
  }
</style>
{% endblock %}
{% block title %}
<title>All Books</title>
{% endblock %}
{% block content %}
   <h2>List of all books</h2>
   <hr>
   {% if booklist %}
     <ul>
       {% for book in booklist %}
       <li class="nostyle"><a href="{% url 'catalog:bookdetail' book.id %}">{{ book.title }} </a><small>written by</small>
         <a style="float: right;" href="{% url 'catalog:authorDetail' book.author.id %}">{{ book.author }}</a></li>
       <hr>
       {% endfor %}
     </ul>
   {% else %}
      <h2>There are no books in the library.</h2>
      <small>Sorry for inconvience</small>
   {% endif %}
{% endblock %}
