{% extends "catalog/base.html" %}
{% block style %}
<style>
  .nostyle  a {
    text-decoration: none;
    color: blue;
  }
  body {
    margin-top: 60px;
  }
</style>
{% endblock %}
{% block title %}
<title>All Books</title>
{% endblock %}
{% block content %}
   <h2>List of all books</h2>
   <hr>
   {% if booklist %}
     <table>
       <tr>
       <th>Book Name</th>
       <th>Author</th>
       </tr>
       {% for book in booklist %}
       <tr class="nostyle"><td><a href="{% url 'catalog:bookdetail' book.id %}">{{ book.title }} </a>
         <a style="float: right;" href="{% url 'catalog:authorDetail' book.author.id %}">{{ book.author }}</a></td></tr>
       {% endfor %}
     </table>
   {% else %}
      <h2>There are no books in the library.</h2>
      <small>Sorry for inconvience</small>
   {% endif %}
{% endblock %}
