{% extends "catalog/base.html" %}
{% block title %}
<title>Return Update</title>
{% endblock %}
{% block content %}
<h3>Return Books</h3>
<hr>
{% if loanBooks %}
   <ul>
     {% for book in loanBooks %}
      <li class={% if book.is_overdure %}text-danger{% else %}text-success{% endif %}>
        <a href="{% url 'catalog:bookdetail' book.book.id %}">{{ book.book.title }} </a>(<small>due on</small> {{ book.due_back }}) |
           borrowed by {{ book.borrower.username }}
           <p style="float: right;">
            <a href="{% url 'catalog:makeavailable1' book.id %}" style="text-decoration: none;margin-bottom: 10px;"
            class="btn btn-success">Received</a>
           </p>
      </li>
      <hr>
     {% endfor %}
   </ul>
{% else %}
   <h2>No Return Books Available.</h2>
{% endif %}
<hr>
<hr>
{% if requestb %}
<ul>
  {% for book in requestb %}
   <li class={% if book.is_overdure %}text-danger{% else %}text-success{% endif %}>
     <a href="{% url 'catalog:bookdetail' book.book.id %}">{{ book.book.title }} </a>(<small>due on</small> {{ book.due_back }}) |
        Requested by {{ book.borrower.username }}
        <p style="float: right;">
         <a href="{% url 'catalog:makeavailable1' book.id%}" style="text-decoration: none;margin-bottom: 10px;"
         class="btn btn-success">Approve</a>
        </p>
   </li>
   <hr>
  {% endfor %}
</ul>
{% else %}
   <h2>No Request Books Available</h2>
{% endif %}
{% endblock %}
